extends layout

block content
  h1= title
  div.border
    a.create-btn(href='/departments/create')|+ 
    | #[Strong Create new department]
  ul
    each department in department_list
      li
        a(href=department.url) #{department.company.name} (#{department.company.code}) - #{department.name}
    else
      li There are no departments.
